

<div class="wrapper">
    <!-- Header -->
    <header class="siteHeader">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-header wow fadeInDown" data-wow-delay="0.2s">
            <div class="container">
                <a class="navbar-brand"><span style="color: #0084ff;">GSP </span><span> Production</span></a>


                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav nav justify-content-center">
                        <li class="nav-item"><a class="nav-link">Tour</a></li>
                        <li class="nav-item"><a class="nav-link">Product</a></li>
                        <li class="nav-item"><a class="nav-link">Solutions</a></li>
                        <li class="nav-item"><a class="nav-link">Company</a></li>
                        <li class="nav-item"><a class="nav-link">Resources</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns">
                        <li class="nav-item">
                            <!-- <a class="nav-link btn btn-sm" routerLink="/login" routerLinkActive="active">Join Now</a> -->
                            <a class="nav-link btn btn-sm">Join Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- End Navigation -->
        <!-- Banner/Slider -->
        <div class="banner">
            <div class="container">
                <div class="banner-content d-flex align-items-center  customCarousel carousel slide" id="bannerCarousel"
                    data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!--begin row -->
                            <div class="row align-items-center mobile-center">
                                <div class="col-lg-6 col-md-12 order-lg-first">

                                    <div class="container">
                                        <form class="form-horizontal" role="form" [formGroup] = "changePasswordForm" (ngSubmit)="changePassword()">
                                            <div class="form-group">
                                              <label for="password" class="col-sm-8 control-label"> <h2>User Change Password</h2></label>
                                          </div>
                                            
                                            <div class="form-group">
                                                <label for="password" class="col-sm-8 control-label">New Password<span style="color: hsl(24, 100%, 50%);">* </span></label>
                                                <div class="col-sm-10">
                                                    <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password" class="form-control" style="background-color: #e0dede;">
                                                </div>
                                                <div *ngIf="cp.newPassword.errors && (cp.newPassword.dirty || cp.newPassword.touched)">
                                                    <label *ngIf="cp.newPassword.errors.required" class="alert-danger">Password is
                                                        required</label>
                                                    <label *ngIf="cp.newPassword.errors.pattern" class="alert-danger">Password has
                                                        invalid pattern</label>
                                                </div>
                                            </div>
                                      
                                            <div class="form-group">
                                              <label for="password" class="col-sm-8 control-label">Confirm Password<span style="color: hsl(24, 100%, 50%);">* </span></label>
                                              <div class="col-sm-10">
                                                  <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" style="background-color: #e0dede;">
                                              </div>
                                                <div *ngIf="cp.confirmPassword.errors && (cp.confirmPassword.dirty || cp.confirmPassword.touched)">
                                                    <label *ngIf="cp.confirmPassword.errors.required" class="alert-danger">Password is
                                                        required</label>
                                                    <label *ngIf="cp.confirmPassword.errors.pattern" class="alert-danger">Password has
                                                        invalid pattern</label>
                                                </div>
                                          </div>
                                            
                                            <div class="form-group">
                                                 <div class="col-sm-10 col-sm-offset-3">
                                                     <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                                                 </div>
                                            </div>
                                        </form> <!-- /form -->
                                      </div> <!-- ./container -->

                                </div>
                                <div class="col-lg-6 col-md-12 order-first no-pd">
                                    <div class="banner-image" data-animation="animated bounceInRight"><img
                                            src="assets/images/banner-img.png" class="img-fluid" /></div>
                                </div>
                            </div>
                            <!--end row -->
                        </div>
                        <!-- <div class="carousel-item">
                        
                            <div class="row align-items-center mobile-center">
                                <div class="col-lg-6 col-md-12 order-lg-first">
                                    <div class="banner-text" data-animation="animated bounceInLeft">
                                        <h2>Best Training Software.</h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.</p>
                                        <li><a href="#" class="btn btn-primary">Let's Get Started </a></li>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 order-first no-pd">
                                    <div class="banner-image" data-animation="animated bounceInRight"><img
                                            src="assets/images/banner-img2.png" class="img-fluid" /></div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner/Slider -->
        
    
        <!-- <div class="container">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="password" class="col-sm-3 control-label"> <h2>User Change Password</h2></label>
              </div>
                
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="New Password" class="form-control">
                    </div>
                </div>
          
                <div class="form-group">
                  <label for="password" class="col-sm-3 control-label">Confirm Password</label>
                  <div class="col-sm-9">
                      <input type="password" id="confirmPassword" placeholder="confirmPassword" class="form-control">
                  </div>
              </div>
                
                <div class="form-group">
                     <div class="col-sm-9 col-sm-offset-3">
                         <button type="submit" class="btn btn-primary btn-block">Register</button>
                     </div>
                </div>
            </form> 
          </div> -->
    
    </header>
</div>





