<div class="page-header">
  <h3 class="page-title">
    User Management
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admindashboard" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/viewprofile" routerLinkActive="active">Cources</a></li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12 grid-margin stretch-card"></div>
  <!-- <div class="card">
      <div class="card-body">
          <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
      </div>
  </div> -->

  <!-- Wrapper -->
<div class="wrapperInner">
    
    <!-- Course Column -->
    <div class="card-columns course-column">
        <!-- Course Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    <!-- <img src="assets/images/courseimg-2.jpg" alt="Card" class="img-fluid"> -->
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
        <!-- Course Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <!-- <iframe src="https://www.youtube.com/watch?v=0eWrpsCLMJQ">
                    </iframe> -->
                    <span class="playIcon"><i class="fa fa-play fa-2x"></i></span>
                    <img src="assets/images/courseimg-1.jpg" alt="Card" class="img-fluid">
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
         <!-- Course Card -->
         <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <span class="playIcon"><i class="fa fa-play fa-2x"></i></span>
                    <img src="assets/images/courseimg-1.jpg" alt="Card" class="img-fluid">
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
        <!-- Course Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <span class="playIcon"><i class="fa fa-play fa-2x"></i></span>
                    <img src="assets/images/courseimg-1.jpg" alt="Card" class="img-fluid">
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
        <!-- Course Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    <!-- <img src="assets/images/courseimg-2.jpg" alt="Card" class="img-fluid"> -->
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
        <!-- Course Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><a href="#">Lorem Lipsum</a></h4>
            </div>
            <div class="image">
                <a href="#">
                    <img src="assets/images/courseimg-2.jpg" alt="Card" class="img-fluid">
                </a>
            </div>
            <div class="card-body">
                <small class="text-muted">ADVANCED</small>
                <small class="float-right">Lessons: 5 of 7</small>
                <br>
                Let’s start with a quick tour of Vue’s data binding features. If you are more interested in ...<br>
                <span class="badge badge-primary ">VUEJS</span>
            </div>
        </div>
        <!-- //Course Card -->
    </div>
    <!-- //Course Column -->


</div>
<!-- //Wrapper -->
    
</div>