<div class="container-scroller">
  <app-adminnavbar></app-adminnavbar>
  <div class="container-fluid page-body-wrapper">
    <app-adminsidebar></app-adminsidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-adminfooter></app-adminfooter>
    </div>
  </div>
</div>


<!-- <div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper"> -->
<!-- <app-dashboard *ngIf="profileStatus != true"></app-dashboard> -->
<!-- <app-user-profile *ngIf="profileStatus == true"></app-user-profile> -->
<!-- <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div> -->