<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <header class="siteHeader">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-header wow fadeInDown" data-wow-delay="0.2s">
            <div class="container">
                <a class="navbar-brand" href="#">GSP <span>Production</span></a>


                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Solutions</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns">
                        <li class="nav-item">
                            <!-- <a class="nav-link btn btn-sm" routerLink="/login" routerLinkActive="active">Join Now</a> -->
                            <a class="nav-link btn btn-sm" (click)="open(login)">Join Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
        <!-- Banner/Slider -->
        <div class="banner">
            <div class="container">
                <div class="banner-content d-flex align-items-center  customCarousel carousel slide" id="bannerCarousel"
                    data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!--begin row -->
                            <div class="row align-items-center mobile-center">
                                <div class="col-lg-6 col-md-12 order-lg-first">
                                    <div class="banner-text" data-animation="animated bounceInLeft">
                                        <h2>Best Training Software.</h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.</p>
                                        <li><a href="#" class="btn btn-primary">Let's Get Started </a></li>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 order-first no-pd">
                                    <div class="banner-image" data-animation="animated bounceInRight"><img
                                            src="assets/images/banner-img.png" class="img-fluid" /></div>
                                </div>
                            </div>
                            <!--end row -->
                        </div>
                        <div class="carousel-item">
                            <!--begin row -->
                            <div class="row align-items-center mobile-center">
                                <div class="col-lg-6 col-md-12 order-lg-first">
                                    <div class="banner-text" data-animation="animated bounceInLeft">
                                        <h2>Best Training Software.</h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.</p>
                                        <li><a href="#" class="btn btn-primary">Let's Get Started </a></li>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 order-first no-pd">
                                    <div class="banner-image" data-animation="animated bounceInRight"><img
                                            src="assets/images/banner-img2.png" class="img-fluid" /></div>
                                </div>
                            </div>
                            <!--end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner/Slider -->
    </header>
    <!-- End Header -->

    <!-- Features Section -->
    <section class="section features bgGray">
        <div class="container">
            <!-- Title -->
            <div class="title wow fadeInDown" data-wow-delay="0.2s">
                <h2>Integrated video learning tutorial for Solution</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <!-- END Title -->
            <!-- Features List -->
            <div class="featureList">
                <div class="row">
                    <div class="col-sm-6 col-md-3 featureItem">
                        <div class="icon wow zoomIn" data-wow-delay="0.3s">
                            <span class="hand-drag"><img src="assets/images/hand-drag.svg" width="32" height="32" />
                            </span></div>
                        <h4 class="wow fadeInDown" data-wow-delay="0.4s">Lorem Lipsum</h4>
                        <div class="text wow fadeInDown" data-wow-delay="0.4s">It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 featureItem">
                        <div class="icon wow zoomIn" data-wow-delay="0.3s">
                            <span class="calculations"><img src="assets/images/calculations.svg" width="32"
                                    height="32" /></span>
                        </div>
                        <h4 class="wow fadeInDown" data-wow-delay="0.4s">Lorem Lipsum</h4>
                        <div class="text wow fadeInDown" data-wow-delay="0.4s">It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 featureItem">
                        <div class="icon wow zoomIn" data-wow-delay="0.3s">
                            <span class="responsive"> <img src="assets/images/responsive.svg" width="32"
                                    height="32" /></span>
                        </div>
                        <h4 class="wow fadeInDown" data-wow-delay="0.4s">Lorem Lipsum</h4>
                        <div class="text wow fadeInDown" data-wow-delay="0.4s">It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 featureItem">
                        <div class="icon wow zoomIn" data-wow-delay="0.3s">
                            <span class="rocket-alt"><img src="assets/images/rocket-alt.svg" width="32"
                                    height="32" /></span>
                        </div>
                        <h4 class="wow fadeInDown" data-wow-delay="0.4s">Lorem Lipsum</h4>
                        <div class="text wow fadeInDown" data-wow-delay="0.4s">It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Features List -->
        </div>
    </section>
    <!-- END Features Section -->
    <!-- Team Section -->
    <section class="section team">
        <div class="container">
            <!-- Title -->
            <div class="title wow fadeInDown" data-wow-delay="0.2s">
                <h2>Meet Our Creative Team</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <!-- END Title -->
            <!-- Team Carousel -->
            <div id="teamCarousel" class="customCarousel carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!--begin row -->
                        <div class="row d-flex align-items-center">
                            <!--begin col-md-6-->
                            <div class="col-md-6 padding-top-120 text-center desc  order-md-first"
                                data-animation="animated bounceInLeft">
                                <p class="text">“People who succeed in business aren't afraid to hear feedback from
                                    their customers - they actually thrive from it.”</p>
                                <h5 class="margin-bottom-5">S. Richardson</h5>
                                <p class="txtBlue">CEO Essentials</p>
                            </div>
                            <!--end col-md-6-->
                            <!--begin col-md-6-->
                            <div class="col-md-6 order-first" data-animation="animated bounceInRight">
                                <div class="image">
                                    <img src="assets/images/testimonials-woman.jpg" class="img-fluid" alt="pic">
                                </div>
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row -->
                    </div>
                    <div class="carousel-item">
                        <!--begin row -->
                        <div class="row d-flex align-items-center">
                            <!--begin col-md-6-->
                            <div class="col-md-6 padding-top-120 text-center desc  order-md-first"
                                data-animation="animated bounceInLeft">
                                <p class="text">“People who succeed in business aren't afraid to hear feedback from
                                    their customers - they actually thrive from it.”</p>
                                <h5 class="margin-bottom-5">Johanna S. Richardson</h5>
                                <p class="txtBlue">CEO Essentials</p>
                            </div>
                            <!--end col-md-6-->
                            <!--begin col-md-6-->
                            <div class="col-md-6 order-first" data-animation="animated bounceInRight">
                                <div class="image">
                                    <img src="assets/images/testimonials-woman-black.jpg" class="img-fluid" alt="pic">
                                </div>
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row -->
                    </div>

                </div>

                <ol class="carousel-indicators">
                    <li data-target="#teamCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#teamCarousel" data-slide-to="1"></li>
                </ol>
            </div>
            <!-- END Team Carousel -->
        </div>
    </section>
    <!-- END Team Section -->
    <!-- Company Facts  -->
    <section class="facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="factItem">
                        <span class="icon user wow zoomIn" data-wow-delay="0.3s"><img src="assets/images/user-icon.svg"
                                width="28" height="28" /></span>
                        <h3 class="wow fadeInDown" data-wow-delay="0.2s"><span class="count">500</span>K</h3>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Lovely Users</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="factItem">
                        <span class="icon download wow zoomIn" data-wow-delay="0.3s"><img
                                src="assets/images/download-icon.svg" width="28" height="28" /></span>
                        <h3 class="wow fadeInDown" data-wow-delay="0.2s"><span class="count">450</span>K</h3>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Download</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="factItem">
                        <span class="icon resource wow zoomIn" data-wow-delay="0.3s"><img
                                src="assets/images/search-document.svg" width="28" height="28" /></span>
                        <h3 class="wow fadeInDown" data-wow-delay="0.2s"><span class="count">1000</span>K</h3>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Resource</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="factItem">
                        <span class="icon star wow zoomIn" data-wow-delay="0.3s"><img src="assets/images/star-shape.svg"
                                width="34" height="34" /></span>
                        <h3 class="wow fadeInDown" data-wow-delay="0.2s"><span class="count">5.00</span></h3>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Average Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Company Facts  -->

    <!-- Hero text -->
    <section class="section heroBlock bgGray">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-6 col-xl-5 mb-sm-30">
                    <div class="image wow fadeInLeft" data-wow-delay="0.2s">
                        <img src="assets/images/abouttxt-img.jpg" class="img-fluid" alt="Hero Thumbnail">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 ml-auto">
                    <div class="text wow fadeInRight" data-wow-delay="0.2s">
                        <h4>Lorem Ipsum simply</h4>
                        <h3>There are many variations.</h3>
                        <p class="mb-30">There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.</p>
                        <a href="#" class="btn btn-primary text-uppercase mt-3">Let's Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Hero text -->
    <!-- We offer section -->
    <section class="section weoffer">
        <div class="container">
            <!-- Title -->
            <div class="title wow fadeInDown" data-wow-delay="0.2s">
                <h2>The standard Lorem Ipsum passage, used since</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <!-- END Title -->
            <div class="row align-items-center">
                <div class="col-lg-6  wow fadeInLeft" data-wow-delay="0.2s">
                    <!-- Offer Item -->
                    <div class="offerItem">
                        <div class="icon analysis">
                            <img src="assets/images/analysis.svg" width="34" height="34" />
                        </div>
                        <div class="info">
                            <h3>Customize your workflow.</h3>
                            <p>Manage any process and be ready to address any challenge with total ease.</p>
                        </div>
                    </div>
                    <!-- END Offer Item -->
                    <!-- Offer Item -->
                    <div class="offerItem">
                        <div class="icon linechart">
                            <img src="assets/images/line-chart.svg" width="34" height="34" />
                        </div>
                        <div class="info">
                            <h3>Easy onboarding, fast adoption.</h3>
                            <p>With Essentials getting your team on board is as simple as sending an email.</p>
                        </div>
                    </div>
                    <!-- END Offer Item -->
                    <!-- Offer Item -->
                    <div class="offerItem">
                        <div class="icon webdevelopment">
                            <img src="assets/images/web-development.svg" width="34" height="34" />
                        </div>
                        <div class="info">
                            <h3>Improve subscriber retention.</h3>
                            <p>Analyze customers by region, discounts and more and put a plan in place to improve
                                subscriber retention.</p>
                        </div>
                    </div>
                    <!-- END Offer Item -->
                </div>

                <div class="col-lg-6 wow fadeInRight d-sm-none d-md-block" data-wow-delay="0.2s">
                    <div class="image">
                        <img src="assets/images/img10.png" class="img-fluid box-shadow" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- //We offer section -->

    <!-- Subscribe Video Section -->
    <section class="subscribeVideo bgBlue">
        <!--begin container -->
        <div class="container">
            <!--begin row -->
            <div class="row align-items-center">
                <!--begin col-md-6-->
                <div class="col-md-6">
                    <!--begin video-popup-wrapper-->
                    <div class="video-popup-wrapper wow fadeInLeft" data-wow-delay="0.2s">
                        <!--begin popup-gallery-->
                        <div class="popup-gallery">
                            <img src="assets/images/video-img.jpg" class="video-popup-image img-fluid" alt="pic">
                        </div>
                        <!--end popup-gallery-->
                    </div>
                    <!--end video-popup-wrapper-->
                </div>
                <!--end col-md-6-->

                <!--begin col-md-6-->
                <div class="col-md-6">
                    <div class="subscribeForm  wow fadeInRight" data-wow-delay="0.2s">
                        <h3>Let's get started with video tutorial.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        <form>
                            <div class="inputgroup">
                                <input type="email" class="form-control" placeholder="Enter your Email Address" />
                                <input type="button" value="get a demo" class="btn btn-secondary" />
                            </div>
                        </form>
                    </div>
                </div>
                <!--end col-md-6-->
            </div>
            <!--end row -->
        </div>
        <!--end container -->
    </section>
    <!-- //Subscribe Video Section -->

    <!-- Partner Logo -->
    <section class="partners text-center bottom-divider">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class=""><a href="#"><img src="assets/images/partner/partner_logo_1.png" alt=""> </a></div>
                <div class=""><a href="#"><img src="assets/images/partner/partner_logo_2.png" alt=""></a></div>
                <div class=""><a href="#"><img src="assets/images/partner/partner_logo_3.png" alt=""></a></div>
                <div class=""><a href="#"><img src="assets/images/partner/partner_logo_4.png" alt=""> </a></div>
                <div class=""><a href="#"><img src="assets/images/partner/partner_logo_5.png" alt=""> </a></div>
            </div>
        </div>
    </section>
    <!-- //Partner Logo -->

    <!-- Footer Section -->
    <footer class="siteFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="footerCol aboutext">
                        <h3>About Company</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            sed do eiusmod tempor incididunt ut, tempor incididunt ut.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-6 col-lg-8">
                            <div class="footerCol">
                                <h3>Useful Links</h3>
                                <ul class="navLink">
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="footerCol">
                                <h3>Support</h3>
                                <ul class="navLink">
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Resource</a></li>
                                    <li><a href="#">Strategy</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footerCol contactinfo">
                        <h3>Contact Info</h3>
                        <ul class="contact-info">
                            <li><i class="fas fa-map-marker-alt"></i> 2750 Quadra Street , Park Area, Victoria, Canada.
                            </li>
                            <li><i class="fas fa-phone"></i> +(00) 01245687</li>
                            <li><i class="fas fa-envelope"></i> <a href="mailto:support@test.com">support@test.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <p>Copyright 2019 All Rights Reserved.</p>
                    </div>
                    <div class="col-sm-5">
                        <ul class="socialIcons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Copyright -->
    </footer>
    <!-- //Footer Section -->
</div>
<!-- //Wrapper -->

<!-- Login/Registration Pop-Up -->
<ng-template #login let-modal class="bgcolorlg">
    <div class="modal-header bgColor">
        <h4 class="modal-title" id="modal-basic-title">Login to Your Account </h4>
        <button type="button" class="close lgclosebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
                <div class="card card-img-holder text-white">
                    <div class="card-body lgalign">

                        <div class="container-scroller page-body-wrapper">
                            <div class="container-fluid ">
                                <div>
                                    <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
                                </div>

                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-lg"
                                                formControlName="email" placeholder="Enter your Email ID" required>
                                        </div>
                                        <div *ngIf="fl.email.errors && (fl.email.dirty || fl.email.touched)">
                                            <label *ngIf="fl.email.errors.required" class="alert-danger">Email is
                                                required</label>
                                            <label *ngIf="fl.email.errors.pattern" class="alert-danger">Email has
                                                invalid pattern</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control form-control-lg"
                                                formControlName="password" placeholder="Enter your Password ID"
                                                required>
                                        </div>
                                        <div *ngIf="fl.password.errors && (fl.password.dirty || fl.password.touched)">
                                            <label *ngIf="fl.password.errors.required" class="alert-danger">Password is
                                                required</label>
                                            <label *ngIf="fl.password.errors.pattern" class="alert-danger">Password has
                                                invalid pattern</label>
                                        </div>
                                    </div>
                                    <div class="form-group lgmargintop">
                                        <div class="input-group">
                                            <input class="btn btn-lg btn-outline-primary" type="submit" value="Sign In">
                                            <button class="btn" type="button"
                                                (click)="openRegistration(registration); modal.close('Save click')"
                                                value="Sign Up">Sign Up</button>
                                        </div>
                                    </div>
                                </form>

                                <a style="float:left; color: cornflowerblue; cursor:pointer" (click)="openForgetPassword(forgotPassword); modal.close('Save click')">Forgot password</a>
                                <div class="alert" *ngIf="serverErrorMessages">
                                    {{serverErrorMessages}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>



<!-- Login Pop-Up -->

<!-- Registration Pop-Up -->
<ng-template #registration let-modal>
    <div class="modal-header bgColor">
        <h4 class="modal-title" id="modal-basic-title">Registration</h4>
        <button type="button" class="close lgclosebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <div class="row">
                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card card-img-holder text-white">
                        <div class="card-body lgalign">

                            <div class="container-scroller page-body-wrapper">
                                <div class="container-fluid ">

                                    <div>
                                        <img src="assets/img/users.png" id="icon" class="regimgsize" alt="User Icon" />
                                    </div>


                                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()">

                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="fullName"
                                                    formControlName="fullName" placeholder="Enter your Full Name here">
                                            </div>
                                            <div *ngIf="f.fullName.errors && (f.fullName.dirty || f.fullName.touched)">
                                                <label class="alert-danger">*Name of at least 5 characters is
                                                    required</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <input type="email" class="form-control" formControlName="email"
                                                    placeholder="Enter your Email ID" value="" required>
                                                <!-- <small> Your Email Id is being used for ensuring the security of your account.</small> -->
                                            </div>

                                            <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
                                                <label *ngIf="f.email.errors.required" class="alert-danger">Email is
                                                    required</label>
                                                <label *ngIf="f.email.errors.pattern" class="alert-danger">Email has
                                                    invalid pattern</label>
                                            </div>
                                            <div>
                                                <label *ngIf="emailExist === true" class="alert-danger">Email already
                                                    exists in the database</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Position</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" formControlName="position"
                                                    placeholder="Please Enter your Position">
                                            </div>
                                            <div *ngIf="f.position.errors && (f.position.dirty || f.position.touched)">
                                                <label class="alert-danger">Position is required.</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Department</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" formControlName="department"
                                                    placeholder="Department You Belong">
                                            </div>
                                            <div
                                                *ngIf="f.department.errors && (f.department.dirty || f.department.touched)">
                                                <label class="alert-danger">Department is required.</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" formControlName="mobile"
                                                    placeholder="Enter Your Phone Number">
                                            </div>
                                            <div *ngIf="f.mobile.errors && (f.mobile.dirty || f.mobile.touched)">
                                                <label class="alert-danger">Phone Number is required.</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Set Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" formControlName="password"
                                                    placeholder="Choose password (5-15 chars)">
                                            </div>
                                            <div *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                                                <label *ngIf="f.password.errors.required" class="alert-danger">Password
                                                    is required</label>
                                                <label *ngIf="f.password.errors.pattern" class="alert-danger">Password
                                                    must contain 8 characters with one number and one letter</label>
                                            </div>
                                        </div>

                                        <div class="form-group lgmargintop">
                                            <div class="input-group">
                                                <input name="Submit" class="btn btn-primary" type="submit"
                                                    value="Sign Up">
                                            </div>
                                        </div>

                                    </form>

                                    <div class="alert" *ngIf="serverErrorMessages">
                                        {{regServerErrorMessages}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<!-- Registration Pop-Up -->


<!-- Forgot Password Pop-Up -->
<ng-template #forgotPassword let-modal>
    <div class="modal-header bgColor">
        <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
        <button type="button" class="close lgclosebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <div class="row">
                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card card-img-holder text-white">
                        <div class="card-body lgalign">

                            <div class="container-scroller page-body-wrapper">
                                <div class="container-fluid ">

                                    <div>
                                        <img src="assets/img/users.png" id="icon" class="regimgsize" alt="User Icon" />
                                    </div>


                                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">

                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <input type="email" class="form-control" formControlName="email"
                                                    placeholder="Enter your Email ID" value="" required>
                                                <!-- <small> Your Email Id is being used for ensuring the security of your account.</small> -->
                                            </div>

                                            <div *ngIf="fp.email.errors && (fp.email.dirty || fp.email.touched)">
                                                <label *ngIf="fp.email.errors.required" class="alert-danger">Email is
                                                    required</label>
                                                <label *ngIf="fp.email.errors.pattern" class="alert-danger">Email has
                                                    invalid pattern</label>
                                            </div>
                                            <div>
                                                <label *ngIf="emailExist === true" class="alert-danger">Email already
                                                    exists in the database</label>
                                            </div>
                                        </div>

                                        <div class="form-group lgmargintop">
                                            <div class="input-group">
                                                <input name="Submit" class="btn btn-primary" type="submit"
                                                    value="Verify Email">
                                            </div>
                                        </div>

                                    </form>

                                    <div class="alert" *ngIf="serverErrorMessages">
                                        {{regServerErrorMessages}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<!-- Registration Pop-Up -->



<!-- jQuery CDN Link -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="assets/js/custom.js"></script>