<div class="page-header" *ngIf="userDetails">
    <h2 class="page-title">
        User Profile
    </h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">User Profile</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Departments</li>
      </ol>
    </nav>
  </div>
  
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
         
          <form class="forms-sample">
              <div class="form-group row">
                  <div class="col-sm-9">
                      <img src="assets/images/faces/face1.jpg" id="icon" alt="User Icon" />
                  </div>
              </div>
            <div class="form-group row">
                <label  class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    {{userDetails.fullName.split(' ')[0]}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    {{userDetails.fullName.split(' ')[1]}}
                </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                  {{userDetails.email}}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Department</label>
              <div class="col-sm-9">
                  {{userDetails.department}}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputMobile" class="col-sm-3 col-form-label">Position</label>
              <div class="col-sm-9">
                  {{userDetails.position}}
              </div>
            </div>

            <div class="form-group"></div>

            <!-- <div class="form-group">
                <label>Upload Employee Data</label>
                <input type="file" name="File Upload" id="txtFileUpload" #fileImportInput class="file-upload-default" (change)="fileChangeListener($event)">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-gradient-primary" type="button" (click)="empupload()">UploadEmploye</button>
                  </span>
                </div>
              </div>

            <div class="form-group">
                <label>Upload lecture Video</label>
                <input type="file" (change)="selectFile($event)">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-gradient-primary" type="button" [disabled]="!selectedFiles" (click)="upload()">UploadEmploye</button>
                  </span>
                </div>
              </div> -->
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    