<div class="container">
  <form class="form-horizontal" role="form">
      <h2>Registration Form</h2>
      <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">Full Name</label>
          <div class="col-sm-9">
              <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
              <span class="help-block">First Name, Last Name, eg.: Smith, Harry</span>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
              <input type="email" id="email" placeholder="Email" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
              <input type="password" id="password" placeholder="Password" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="position" class="col-sm-3 control-label">Position</label>
          <div class="col-sm-9">
            <input type="text" id="position" placeholder="Type your Department Role" class="form-control" autofocus>
          </div>
      </div>
      <div class="form-group">
          <label for="Designation" class="col-sm-3 control-label">Designation</label>
          <div class="col-sm-9">
            <input type="text" id="Designation" placeholder="Type your Desination" class="form-control" autofocus>
          </div>
      </div> <!-- /.form-group -->
      <div class="form-group">
          <label class="control-label col-sm-3">Gender</label>
          <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4">
                      <label class="radio-inline">
                          <input type="radio" id="femaleRadio" value="Female">Female
                      </label>
                  </div>
                  <div class="col-sm-4">
                      <label class="radio-inline">
                          <input type="radio" id="maleRadio" value="Male">Male
                      </label>
                  </div>
                  <div class="col-sm-4">
                      <label class="radio-inline">
                          <input type="radio" id="uncknownRadio" value="Unknown">Unknown
                      </label>
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-9">
              <div class="row">
        <input class="defined inline" type="text" placeholder="https://" value="https://" disabled><span class="inline"><input type="text" class="company" placeholder="Company name"></span><span class="inline"><input class="defineds" type="text" placeholder="limelight.com" value="limelight.com" disabled></span>
      </div>
      </div>
      </div>
      <!-- /.form-group -->
      <!-- <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <div class="checkbox">
                  <label>
                      <input type="checkbox">I accept <a href="#">terms</a>
                  </label>
              </div>
          </div>
      </div> /.form-group -->
      <div class="form-group">
           <div class="col-sm-9 col-sm-offset-3">
               <button type="submit" class="btn btn-primary btn-block">Register</button>
           </div>
      </div>
  </form> <!-- /form -->
</div> <!-- ./container -->
